In [1]:
import pandas as pd
import seaborn as sns
%matplotlib inline

In [2]:
df = pd.read_csv('netflix_titles.csv')

In [3]:
df

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,"August 14, 2020",2020,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...
1,s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",2016,TV-MA,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...
2,s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,"December 20, 2018",2011,R,78 min,"Horror Movies, International Movies","When an army recruit is found dead, his fellow..."
3,s4,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,"November 16, 2017",2009,PG-13,80 min,"Action & Adventure, Independent Movies, Sci-Fi...","In a postapocalyptic world, rag-doll robots hi..."
4,s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,"January 1, 2020",2008,PG-13,123 min,Dramas,A brilliant group of students become card-coun...
...,...,...,...,...,...,...,...,...,...,...,...,...
7782,s7783,Movie,Zozo,Josef Fares,"Imad Creidi, Antoinette Turk, Elias Gergi, Car...","Sweden, Czech Republic, United Kingdom, Denmar...","October 19, 2020",2005,TV-MA,99 min,"Dramas, International Movies",When Lebanon's Civil War deprives Zozo of his ...
7783,s7784,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...
7784,s7785,Movie,Zulu Man in Japan,NaN,Nasty C,NaN,"September 25, 2020",2019,TV-MA,44 min,"Documentaries, International Movies, Music & M...","In this documentary, South African rapper Nast..."
7785,s7786,TV Show,Zumbo's Just Desserts,NaN,"Adriano Zumbo, Rachel Khoo",Australia,"October 31, 2020",2019,TV-PG,1 Season,"International TV Shows, Reality TV",Dessert wizard Adriano Zumbo looks for the nex...
7786,s7787,Movie,ZZ TOP: THAT LITTLE OL' BAND FROM TEXAS,Sam Dunn,NaN,"United Kingdom, Canada, United States","March 1, 2020",2019,TV-MA,90 min,"Documentaries, Music & Musicals",This documentary delves into the mystique behi...

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7787 entries, 0 to 7786
Data columns (total 12 columns):
show_id         7787 non-null object
type            7787 non-null object
title           7787 non-null object
director        7787 non-null object
cast            7787 non-null object
country         7787 non-null object
date_added      7787 non-null object
release_year    7787 non-null int64
rating          7787 non-null object
duration        7787 non-null object
listed_in       7787 non-null object
description     7787 non-null object
dtypes: int64(1), object(11)
memory usage: 730.2+ KB

In [4]:
#Remove the NaN from the dataset
df = df.fillna('Not Listed')

In [5]:
df.head(10)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,TV Show,3%,Not Listed,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,"August 14, 2020",2020,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...
1,s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",2016,TV-MA,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...
2,s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,"December 20, 2018",2011,R,78 min,"Horror Movies, International Movies","When an army recruit is found dead, his fellow..."
3,s4,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,"November 16, 2017",2009,PG-13,80 min,"Action & Adventure, Independent Movies, Sci-Fi...","In a postapocalyptic world, rag-doll robots hi..."
4,s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,"January 1, 2020",2008,PG-13,123 min,Dramas,A brilliant group of students become card-coun...
5,s6,TV Show,46,Serdar Akar,"Erdal Beşikçioğlu, Yasemin Allen, Melis Birkan...",Turkey,"July 1, 2017",2016,TV-MA,1 Season,"International TV Shows, TV Dramas, TV Mysteries",A genetics professor experiments with a treatm...
6,s7,Movie,122,Yasir Al Yasiri,"Amina Khalil, Ahmed Dawood, Tarek Lotfy, Ahmed...",Egypt,"June 1, 2020",2019,TV-MA,95 min,"Horror Movies, International Movies","After an awful accident, a couple admitted to ..."
7,s8,Movie,187,Kevin Reynolds,"Samuel L. Jackson, John Heard, Kelly Rowan, Cl...",United States,"November 1, 2019",1997,R,119 min,Dramas,After one of his high school students attacks ...
8,s9,Movie,706,Shravan Kumar,"Divya Dutta, Atul Kulkarni, Mohan Agashe, Anup...",India,"April 1, 2019",2019,TV-14,118 min,"Horror Movies, International Movies","When a doctor goes missing, his psychiatrist w..."
9,s10,Movie,1920,Vikram Bhatt,"Rajneesh Duggal, Adah Sharma, Indraneil Sengup...",India,"December 15, 2017",2008,TV-MA,143 min,"Horror Movies, International Movies, Thrillers",An architect and his wife move into a castle t...

In [9]:
type('date_added')

str

In [11]:
df['date_added'] = pd.to_datetime(df['date_added'], errors='coerce')

In [12]:
df.head(3)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,TV Show,3%,Not Listed,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,2020-08-14,2020,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...
1,s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,2016-12-23,2016,TV-MA,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...
2,s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,2018-12-20,2011,R,78 min,"Horror Movies, International Movies","When an army recruit is found dead, his fellow..."

In [13]:
time = df['date_added'].iloc[0]
time

Timestamp('2020-08-14 00:00:00')

In [15]:
time.dayofweek

4

In [17]:
#Type of show/movie in Netflix
df['listed_in'].value_counts().head(15)

Documentaries                                       334
Stand-Up Comedy                                     321
Dramas, International Movies                        320
Comedies, Dramas, International Movies              243
Dramas, Independent Movies, International Movies    215
Kids' TV                                            205
Children & Family Movies                            177
Documentaries, International Movies                 172
Children & Family Movies, Comedies                  169
Comedies, International Movies                      161
Dramas, International Movies, Romantic Movies       153
Comedies, International Movies, Romantic Movies     139
Action & Adventure, Dramas, International Movies    117
Dramas                                              117
International TV Shows, TV Dramas                   111
Name: listed_in, dtype: int64

In [21]:
#Top 15 countries that are watching Netflix
df['country'].value_counts().head(15)

United States     2555
India              923
Not Listed         507
United Kingdom     397
Japan              226
South Korea        183
Canada             177
Spain              134
France             115
Egypt              101
Mexico             100
Turkey             100
Australia           83
Taiwan              78
Brazil              72
Name: country, dtype: int64

In [22]:
#How many people in Mexico are watching Netflix
df[df['country'] == 'Mexico']['country'].count()

100

In [23]:
#How many directors are not listed in Netflix
df[df['director'] == 'Not Listed']['director'].count()

2389

In [25]:
#Directors are not listed in Netflix and are from India 
df[(df['director'] == 'Not Listed') & (df['country'] == 'India')].head(5)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
86,s87,TV Show,21 Sarfarosh: Saragarhi 1897,Not Listed,"Luke Kenny, Mohit Raina, Mukul Dev",India,2018-12-01,2018,TV-14,1 Season,"International TV Shows, TV Dramas","In one of history's greatest last stands, a ba..."
311,s312,Movie,Adhugo,Not Listed,Not Listed,India,2019-01-15,2018,TV-14,105 min,"Comedies, International Movies, Thrillers",A fast-footed piglet named Bunty becomes an ob...
340,s341,TV Show,Agent Raghav,Not Listed,"Sharad Kelkar, Aahana Kumra, Mahesh Manjrekar,...",India,2017-04-15,2015,TV-14,1 Season,"Crime TV Shows, International TV Shows, TV Act...","A mix of brilliance, erudition and skill enabl..."
364,s365,TV Show,Akbar Birbal,Not Listed,"Kiku Sharda, Vishal Kotian, Delnaaz Irani",India,2020-03-31,2019,TV-G,1 Season,"Kids' TV, TV Comedies, TV Dramas","From battles of wit to fights for justice, Emp..."
477,s478,Movie,Amit Tandon: Family Tandoncies,Not Listed,Amit Tandon,India,2020-02-28,2019,TV-14,72 min,Stand-Up Comedy,From the death of romance in marriage to the i...

In [26]:
#Total count from above 
df[(df['director'] == 'Not Listed') & (df['country'] == 'India')].count()

show_id         75
type            75
title           75
director        75
cast            75
country         75
date_added      75
release_year    75
rating          75
duration        75
listed_in       75
description     75
dtype: int64

In [27]:
#Ratings in Netflix
df['rating'].value_counts()

TV-MA         2863
TV-14         1931
TV-PG          806
R              665
PG-13          386
TV-Y           280
TV-Y7          271
PG             247
TV-G           194
NR              84
G               39
Not Listed       7
TV-Y7-FV         6
UR               5
NC-17            3
Name: rating, dtype: int64

In [29]:
df[df['rating'] == 'NC-17']['rating'].head()

996     NC-17
3518    NC-17
5936    NC-17
Name: rating, dtype: object

In [30]:
#Data for the NC-17 movies in Netflix
df[(df['rating'] == 'NC-17') & (df['title'])]

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
996,s997,Movie,Blue Is the Warmest Color,Abdellatif Kechiche,"Léa Seydoux, Adèle Exarchopoulos, Salim Kechio...","France, Belgium, Spain",2016-08-26,2013,NC-17,180 min,"Dramas, Independent Movies, International Movies","Determined to fall in love, 15-year-old Adele ..."
3518,s3519,Movie,Lady-Like,Not Listed,"Allie Gallerani, Beverly D'Angelo, Olivia Lucc...",United States,2019-01-18,2018,NC-17,83 min,"Comedies, Independent Movies",After she pushes her best friend Kort to date ...
5936,s5937,Movie,Swearnet: The Movie,Warren P. Sonoda,"Mike Smith, John Paul Tremblay, Robb Wells, Pa...",Canada,2017-09-24,2014,NC-17,112 min,"Comedies, International Movies","After losing a TV network deal, the Trailer Pa..."

In [31]:
#name of the unrated titles in Netflix
df[(df['rating'] == 'UR') & (df['title'])]

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
2484,s2485,Movie,Good Luck Chuck,Mark Helfrich,"Dane Cook, Jessica Alba, Dan Fogler, Ellia Eng...","United States, Canada",2019-10-01,2007,UR,99 min,"Comedies, Romantic Movies","Every time Chuck breaks up with a girlfriend, ..."
2953,s2954,Movie,Immoral Tales,Walerian Borowczyk,"Lise Danvers, Fabrice Luchini, Charlotte Alexa...",France,2019-06-06,1974,UR,103 min,"Dramas, International Movies, Romantic Movies",This anthology illustrates the timeless nature...
5522,s5523,Movie,Sex Doll,Sylvie Verheyde,"Hafsia Herzi, Ash Stymest, Karole Rocher, Paul...","United Kingdom, France",2017-07-10,2016,UR,103 min,"Dramas, International Movies, Romantic Movies",A high-end call girl falls for a handsome man ...
5573,s5574,Movie,Shootout at Lokhandwala,Apoorva Lakhia,"Sanjay Dutt, Sunil Shetty, Amitabh Bachchan, A...",India,2019-05-15,2007,UR,116 min,"Action & Adventure, Dramas, International Movies","Based on a true story, this action film follow..."
7728,s7729,Movie,You Don't Mess with the Zohan,Dennis Dugan,"Adam Sandler, John Turturro, Emmanuelle Chriqu...",United States,2019-09-01,2008,UR,113 min,"Action & Adventure, Comedies",An Israeli counterterrorism soldier with a sec...

In [33]:
type('duration')

str

In [32]:
#How many movies in Netflix are over two hours
#df[(df['type'] == 'Movie') & (df['duration'] > 120 min]

In [34]:
print(df.dtypes)

show_id                 object
type                    object
title                   object
director                object
cast                    object
country                 object
date_added      datetime64[ns]
release_year             int64
rating                  object
duration                object
listed_in               object
description             object
dtype: object

In [39]:
df['type'].value_counts()

Movie      5377
TV Show    2410
Name: type, dtype: int64

In [42]:
df[df['type'] == 'TV Show']

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,TV Show,3%,Not Listed,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,2020-08-14,2020,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...
5,s6,TV Show,46,Serdar Akar,"Erdal Beşikçioğlu, Yasemin Allen, Melis Birkan...",Turkey,2017-07-01,2016,TV-MA,1 Season,"International TV Shows, TV Dramas, TV Mysteries",A genetics professor experiments with a treatm...
11,s12,TV Show,1983,Not Listed,"Robert Więckiewicz, Maciej Musiał, Michalina O...","Poland, United States",2018-11-30,2018,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Dramas","In this dark alt-history thriller, a naïve law..."
12,s13,TV Show,1994,Diego Enrique Osorno,Not Listed,Mexico,2019-05-17,2019,TV-MA,1 Season,"Crime TV Shows, Docuseries, International TV S...",Archival video and new interviews examine Mexi...
16,s17,TV Show,Feb-09,Not Listed,"Shahd El Yaseen, Shaila Sabt, Hala, Hanadi Al-...",Not Listed,2019-03-20,2018,TV-14,1 Season,"International TV Shows, TV Dramas","As a psychology professor faces Alzheimer's, h..."
...,...,...,...,...,...,...,...,...,...,...,...,...
7767,s7768,TV Show,Zindagi Gulzar Hai,Not Listed,"Sanam Saeed, Fawad Khan, Ayesha Omer, Mehreen ...",Pakistan,2016-12-15,2012,TV-PG,1 Season,"International TV Shows, Romantic TV Shows, TV ...","Strong-willed, middle-class Kashaf and carefre..."
7775,s7776,TV Show,Zoids Wild,Not Listed,"Kensho Ono, Takahiro Sakurai, Mikako Komatsu, ...",Japan,2020-08-14,2018,TV-Y7,1 Season,"Anime Series, Kids' TV",A quest for freedom and legendary treasure beg...
7777,s7778,TV Show,Zombie Dumb,Not Listed,Not Listed,Not Listed,2019-07-01,2018,TV-Y7,2 Seasons,"Kids' TV, Korean TV Shows, TV Comedies","While living alone in a spooky town, a young g..."
7779,s7780,TV Show,Zona Rosa,Not Listed,"Manu NNa, Ana Julia Yeyé, Ray Contreras, Pablo...",Mexico,2019-11-26,2019,TV-MA,1 Season,"International TV Shows, Spanish-Language TV Sh...",An assortment of talent takes the stage for a ...
7785,s7786,TV Show,Zumbo's Just Desserts,Not Listed,"Adriano Zumbo, Rachel Khoo",Australia,2020-10-31,2019,TV-PG,1 Season,"International TV Shows, Reality TV",Dessert wizard Adriano Zumbo looks for the nex...

In [43]:
#Now, we want just a dataset of just the movies in Netflix
df = df[df['type'] == 'Movie']

In [44]:
print(set(df['duration']))

{'34 min', '161 min', '118 min', '193 min', '125 min', '138 min', '57 min', '148 min', '142 min', '12 min', '189 min', '162 min', '59 min', '55 min', '224 min', '30 min', '14 min', '129 min', '41 min', '74 min', '45 min', '46 min', '84 min', '107 min', '170 min', '94 min', '23 min', '201 min', '106 min', '192 min', '51 min', '230 min', '200 min', '123 min', '29 min', '178 min', '60 min', '127 min', '93 min', '3 min', '37 min', '150 min', '237 min', '182 min', '115 min', '196 min', '166 min', '71 min', '173 min', '177 min', '312 min', '33 min', '160 min', '89 min', '36 min', '209 min', '145 min', '174 min', '109 min', '121 min', '152 min', '13 min', '49 min', '38 min', '187 min', '186 min', '58 min', '194 min', '117 min', '112 min', '27 min', '131 min', '44 min', '104 min', '176 min', '114 min', '108 min', '11 min', '80 min', '20 min', '86 min', '154 min', '90 min', '159 min', '113 min', '111 min', '70 min', '66 min', '65 min', '15 min', '10 min', '228 min', '205 min', '168 min', '214 min', '164 min', '128 min', '78 min', '53 min', '130 min', '50 min', '8 min', '19 min', '132 min', '171 min', '203 min', '5 min', '47 min', '190 min', '26 min', '40 min', '139 min', '97 min', '24 min', '64 min', '191 min', '99 min', '77 min', '22 min', '155 min', '179 min', '88 min', '103 min', '85 min', '167 min', '120 min', '52 min', '17 min', '43 min', '169 min', '172 min', '81 min', '91 min', '21 min', '135 min', '165 min', '9 min', '35 min', '100 min', '153 min', '204 min', '146 min', '102 min', '48 min', '141 min', '158 min', '72 min', '233 min', '96 min', '144 min', '79 min', '119 min', '126 min', '195 min', '63 min', '73 min', '208 min', '98 min', '156 min', '82 min', '61 min', '18 min', '105 min', '92 min', '122 min', '253 min', '68 min', '69 min', '181 min', '124 min', '56 min', '180 min', '31 min', '143 min', '32 min', '110 min', '133 min', '163 min', '54 min', '149 min', '101 min', '76 min', '140 min', '136 min', '62 min', '137 min', '28 min', '185 min', '42 min', '67 min', '87 min', '134 min', '83 min', '116 min', '16 min', '75 min', '151 min', '95 min', '147 min', '157 min', '25 min'}

In [45]:
df['duration'] = df['duration'].map(lambda x: x.rstrip('min')).astype(int)
print(set(df['duration']))

{3, 5, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 176, 177, 178, 179, 180, 181, 182, 185, 186, 187, 189, 190, 191, 192, 193, 194, 195, 196, 200, 201, 203, 204, 205, 208, 209, 214, 224, 228, 230, 233, 237, 253, 312}

C:\Users\CMiddlebrook\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [46]:
df['type'].value_counts()

Movie    5377
Name: type, dtype: int64

In [48]:
df[df['duration'] > 120].head(10)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
4,s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,2020-01-01,2008,PG-13,123,Dramas,A brilliant group of students become card-coun...
9,s10,Movie,1920,Vikram Bhatt,"Rajneesh Duggal, Adah Sharma, Indraneil Sengup...",India,2017-12-15,2008,TV-MA,143,"Horror Movies, International Movies, Thrillers",An architect and his wife move into a castle t...
15,s16,Movie,Oct-01,Kunle Afolayan,"Sadiq Daba, David Bailie, Kayode Olaiya, Kehin...",Nigeria,2019-09-01,2014,TV-14,149,"Dramas, International Movies, Thrillers",Against the backdrop of Nigeria's looming inde...
17,s18,Movie,22-Jul,Paul Greengrass,"Anders Danielsen Lie, Jon Øigarden, Jonas Stra...","Norway, Iceland, United States",2018-10-10,2018,R,144,"Dramas, Thrillers","After devastating terror attacks in Norway, a ..."
18,s19,Movie,15-Aug,Swapnaneel Jayakar,"Rahul Pethe, Mrunmayee Deshpande, Adinath Koth...",India,2019-03-29,2019,TV-14,124,"Comedies, Dramas, Independent Movies","On India's Independence Day, a zany mishap in ..."
21,s22,Movie,​Goli Soda 2,Vijay Milton,"Samuthirakani, Bharath Seeni, Vinoth, Esakki B...",India,2018-09-15,2018,TV-14,128,"Action & Adventure, Dramas, International Movies","A taxi driver, a gangster and an athlete strug..."
36,s37,Movie,#Selfie,Cristina Jacob,"Flavia Hojda, Crina Semciuc, Olimpia Melinte, ...",Romania,2019-06-01,2014,TV-MA,125,"Comedies, Dramas, International Movies","Two days before their final exams, three teen ..."
74,s75,Movie,1898: Our Last Men in the Philippines,Salvador Calvo,"Luis Tosar, Javier Gutiérrez, Álvaro Cervantes...",Spain,2017-06-02,2016,R,130,"Dramas, International Movies","While Spain relinquishes its last colonies, a ..."
78,s79,Movie,2 States,Abhishek Varman,"Alia Bhatt, Arjun Kapoor, Ronit Roy, Amrita Si...",India,2018-08-04,2014,TV-PG,143,"Comedies, Dramas, International Movies",Graduate students Krish and Ananya hope to win...
90,s91,Movie,25 Kille,Simranjit Singh Hundal,"Guggu Gill, Yograj Singh, Sonia Mann, Jimmy Sh...",India,2018-10-01,2016,TV-14,140,"Action & Adventure, Dramas, International Movies",Four brothers learn that they have inherited a...

In [66]:
#df[df['type'] == 'Movie']['release_year' > 2005]

In [65]:
df[(df['country'] == 'United States') & (df['rating'] == 'TV-14')]

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
33,s34,Movie,#realityhigh,Fernando Lebrija,"Nesta Cooper, Kate Walsh, John Michael Higgins...",United States,2017-09-08,2017,TV-14,99,Comedies,When nerdy high schooler Dani finally attracts...
47,s48,Movie,1 Mile to You,Leif Tilden,"Billy Crudup, Graham Rogers, Liana Liberato, S...",United States,2017-07-07,2017,TV-14,105,"Dramas, Romantic Movies, Sports Movies",After escaping the bus accident that killed hi...
56,s57,Movie,100 Years: One Woman's Fight for Justice,Melinda Janko,Not Listed,United States,2018-03-20,2016,TV-14,75,Documentaries,This documentary chronicles Elouise Cobell's l...
184,s185,Movie,A Haunting at Silver Falls: The Return,Teo Konuralp,"Laura Flannery, James Cavlo, Harry Hains, Clem...",United States,2019-09-17,2019,TV-14,80,"Horror Movies, Independent Movies",When the ghost of her serial killer aunt seemi...
223,s224,Movie,A Secret Love,Chris Bolan,Not Listed,United States,2020-04-29,2020,TV-14,83,"Documentaries, LGBTQ Movies","Amid shifting times, two women kept their deca..."
...,...,...,...,...,...,...,...,...,...,...,...,...
7561,s7562,Movie,What Still Remains,Josh Mendoza,"Lulu Antariksa, Colin O'Donoghue, Mimi Rogers,...",United States,2018-12-21,2018,TV-14,91,"Dramas, Thrillers","Struggling to survive alone post-apocalypse, a..."
7569,s7570,Movie,What Would Sophia Loren Do?,Ross Kauffman,"Nancy ""Vincenza Careri"" Kulik, Sophia Loren",United States,2021-01-15,2021,TV-14,32,Documentaries,"In this delightful short documentary, an Itali..."
7586,s7587,Movie,When We First Met,Ari Sandel,"Adam DeVine, Alexandra Daddario, Shelley Henni...",United States,2018-02-09,2018,TV-14,97,"Comedies, Romantic Movies",Using a magical photo booth that sends him bac...
7642,s7643,Movie,Wish Man,Theo Davies,"Andrew Steel, Kirby Bliss Blanton, Tom Sizemor...",United States,2019-12-03,2019,TV-14,108,"Children & Family Movies, Dramas","After surviving a life-threatening accident, a..."
7662,s7663,Movie,Work It,Laura Terruso,"Sabrina Carpenter, Jordan Fisher, Liza Koshy, ...",United States,2020-08-07,2020,TV-14,94,Comedies,A brilliant but clumsy high school senior vows...